<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyWebApplication</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navigation">
            <a href="Home Page.html" class="logo-link">
                <img src="~/images/logo.png" alt="" class="logo">
            </a>
            <a href="#">LIBRARY</a>
            <div class="search-bar">
                <input type="text" id="search-input" placeholder="Search a word" onkeyup="handleSearch(event)">
            </div>
            <a href="@Url.Action("Register", "Vervoyage")">SIGN UP</a>
            <a href="vervoyage/Login.cshtml">LOG IN</a>
            <a href="Profile.html" class="profile-link">
                <img src="profile-image.jpg" alt="" class="profile-picture-navbar">
            </a>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
</body>
</html>

